NC_TRANSLATION_HOST=0.0.0.0
NC_TRANSLATION_PORT=8090
NC_TRANSLATION_API_KEY=change-me
NC_TRANSLATION_MODEL_ROOT=./models
NC_TRANSLATION_TOKENIZER_ROOT=./tokenizers
NC_TRANSLATION_GLOSSARY_PATH=./config/glossary.json
NC_TRANSLATION_MAX_TEXT_LENGTH=240
NC_TRANSLATION_CACHE_TTL_SECONDS=3600
NC_TRANSLATION_CACHE_MAX_ITEMS=10000
NC_TRANSLATION_INTER_THREADS=1
NC_TRANSLATION_INTRA_THREADS=2
NC_TRANSLATION_BEAM_SIZE=1
NC_TRANSLATION_MAX_DECODING_LENGTH=128
NC_TRANSLATION_COMPUTE_TYPE=default